@charset "ISO-8859-1";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.cont {
	align-items: center;
	width: 80%;
	margin: 0 auto;
	padding: 50px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 1px 1px 15px gray;
}

.formulario{
	width: 100%;
}

h2{
	text-align: center;
	margin-bottom:15px;
}

label{
	font-weight: bolder;

}

table{
	width: 100%;
}

td{
	padding: 5px;
}





